.Events {
    width: 100%;
    padding-top: 6rem;
    margin-top: -6rem;

    &-text {
        margin-bottom: 2rem;

        & .custom-link {
            color: rgba(186,147,105,.7);

            &:hover {
                color: #9e7b57;
                text-decoration: none;
            }
        }
    }
}