@import '../src/utils/media.scss';

.App {
  width: 100%;

  &-box1 {
    padding: 1.5rem;
  }

  &-box2 {
    padding: 2rem 1.5rem;
    margin-bottom: 5rem;

    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &-box1,
  &-box2 {

    @media (min-width: $mobileHorizontal) {
      padding: 1.5rem 2.5rem;
    }

    @media (min-width: $tablet) {
      padding: 2rem 3rem;
    }

    @media (min-width: $laptop) {
      padding: 4rem;
    }

    @media (min-width: $desktop) {
      padding: 6vh 10vw;
    }

    @media (min-width: $desktopL) {
      padding: 6vh 20vh;
    }
  }
}